html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body
        header.header
            .header__wrap.wrap 
                h1.header__title Магазин
        main.shop
            .shop__wrap.wrap
                .shop__inner
                    .controls
                        p.controls__title Сортировка
                        .controls__item
                            span.controls__text По цене:
                            button.controls__button.controls__button--down.primary-btn#sortByPrice
                                span ⇅
                        .controls__item
                            span.controls__text По названию:
                            button.controls__button.controls__button--up.primary-btn#sortByName
                                span ⇅
                        .controls__item
                            span.controls__text По наличию:
                            button.controls__button.controls__button--up.primary-btn#sortByAvalable
                                span ⇅
                        .controls__item
                            button.controls__button.controls__button--up.primary-btn#denySortBtn
                                span Сбросить сортировку
                    .catalog
                        .catalog__pagination
                            button.catalog__arrow.catalog__arrow--left#listBackBtn Назад
                            .catalog__count
                            button.catalog__arrow.catalog__arrow--right#listForwardBtn Далее
                    .cart
                        .cart__list
                        .cart__sum
                            p ИТОГО:
                            p.cart__digit 
                        button.cart__btn.primary-btn Оформить заказ
        script(src='./js/index.js' type="module")